apiVersion: v1
kind: ReplicationController
metadata:
  name: myapp-rc
  labels:
    app: myapp
    type: frontend
spec:
  template:
    metadata:
      name: nginx
      labels:
        app: myapp
        env: production
    spec:
      containers:
       - name: nginx
         image: nginx
       - name: redis
         image: redis
  replicas: 3

# kubectl create -f filename.yaml : To create the Replication Controller

# kubectl get replicationcontroller: To get all the pods